.kbujs-table-container {
    height: auto;
}

.kbujs-timestamp {
	color: #0066b9;
	cursor: pointer;
}

.kbujs-error-cell {
	color: #c7254e;
	font-weight: bold;
}

.kbujs-error:hover {
	cursor: pointer;
}

.kbujs-loading-modal {
	text-align: center;
	font-size: 16px;
	font-weight: bold;
}